<!DOCTYPE html>
<html>
    <head>
        <title>Robot Control</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js" ></script>
        <script type="text/javascript" src="/static/js/gamepad.js" ></script>
    </head>
    <body>
        <h1>Robot Control</h1>
        <br>
        <br>
        <p>Enable Remote Control:</p>
        <input type="checkbox" id="listenerActive" value="unchecked" style="padding-left: 10px">
    </body>
</html>